{% extends "base.html" %}

{% block content %}
<h2>試合一覧</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>日付</th>
        <th>ホーム</th>
        <th>ビジター</th>
        <th>先攻</th>
    </tr>

    {% for game in games %}
    <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.game_date }}</td>
        <td>{{ game.team_home }}</td>
        <td>{{ game.team_away }}</td>
        <td>{{ game.first_batting }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">まだ試合が登録されていません。</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'game_create' %}">＋ 新規試合登録</a>
{% endblock %}
