{% extends "base.html" %}

{% block content %}
<h2>投手開始</h2>

<form method="POST">
    {% csrf_token %}
    <label for="pitcher">投手選択</label>
    <select name="pitcher">
        {% for player in players %}
            <option value="{{ player.id }}" {% if game.pitcher.id == player.id %}selected{% endif %}>{{ player.name }}</option>
        {% endfor %}
    </select><br>

    <label for="inning">イニング</label>
    <input type="number" name="inning" value="{{ inning }}"><br>

    <button type="submit">開始</button>
</form>
{% endblock %}
