{% extends "base.html" %}

{% block content %}
<h2>試合スコアトップ</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>試合日</th>
        <th>ホームチーム</th>
        <th>アウェイチーム</th>
        <th>スコア入力</th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game.game_date }}</td>
        <td>{{ game.first_batting.name }}</td>
        <td>{{ game.second_batting.name }}</td>
        <td>
            <a href="{% url 'games:score_input' game.id %}">入力</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
